@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #1a2a33;
  padding: 5%;
  font-family: "Outfit", serif;
}
button {
  background: none;
  border: none;
}
.pick {
  background-color: #1f3641;
  border-radius: 15px;
  padding: 5%;
  border-bottom: 8px #10212a solid;
  margin-bottom: 5%;
}
.markbtns {
  background-color: #1a2a33;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3%;
}
.circlemarkbtn {
  background-color: #a8bfc9;
  border-radius: 10px;
}
.crossmarkbtn {
  border-radius: 10px;
}
.whitetext {
  color: #a8bfc9;
}
.picktext {
  font-weight: 700;
  font-size: 1rem;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.remembertext {
  font-weight: 400;
  font-size: 0.875rem;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pickbtnpadding {
  padding: 5%;
  width: 50%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
.newgamecpu {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #f2b137;
  border-bottom: 8px solid #cc8b13;
  border-radius: 15px;
  color: #1a2a33;
  font-weight: 700;
  font-size: 1rem;
  width: 90%;
  padding: 5%;
}
.newgameplayer {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #31c3bd;
  border-bottom: 8px solid #118c87;
  border-radius: 15px;
  color: #1a2a33;
  font-weight: 700;
  font-size: 1rem;
  width: 90%;
  padding: 5%;
}
.playbtns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 20px;
}
.ttt {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.block {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: #1f3641;
  border-bottom: 8px solid #10212a;
}
.topmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15%;
}
.retry {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a8bfc9;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border-bottom: 4px solid #6b8997;
}
.playerturn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a8bfc9;
  background-color: #1f3641;
  gap: 5px;
  padding: 2.5%;
  border-radius: 5px;
  border-bottom: 4px solid #10212a;
}
.tttflex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.player1score {
  width: 80px;
  height: 50px;
  background-color: #31c3bd;
  border-radius: 10px;
  color: #1a2a33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player2score {
  width: 80px;
  height: 50px;
  background-color: #a8bfc9;
  border-radius: 10px;
  color: #1a2a33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ties {
  width: 80px;
  height: 50px;
  background-color: #f2b137;
  border-radius: 10px;
  color: #1a2a33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  body {
    padding: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
